
body {
  background-color: whitesmoke;
}

.card {
  background-color: #e0e0e0;   
  border: black;
  column-gap: 40px;
  display: flex;
  flex-wrap: wrap; 
  width: 400px;
  padding-left: 20px;
  padding-top: 15px;
}

.card img {
  width: 260px;
  height: 260px;
  object-fit: cover; 
}

