<div class="booking-container" *ngIf="flight">
  <div class="booking-header">
    <h2>{{ flight.origin }} — {{ flight.destination }}</h2>
    <p class="flight-info">{{ flight.airline }} | {{ flight.flightNumber }}</p>
  </div>

  <div class="booking-content">
    
    <div class="flight-details">
      <div class="flight-card">
        <div class="airline-info">
          <div class="airline-logo" [ngClass]="flight.airline.toLowerCase().replace(' ', '-')">
            {{ flight.airline.charAt(0) }}
          </div>
          <div>
            <span class="airline-name">{{ flight.airline }}</span>
            <span class="flight-number">{{ flight.flightNumber }}</span>
          </div>
        </div>

        <div class="flight-route">
          <div class="departure">
            <span class="time">{{ flight.departureTime }}</span>
            <span class="city">{{ flight.origin }}</span>
          </div>

          <div class="duration">
            <div class="duration-line"></div>
            <span>{{ flight.duration }}</span>
          </div>

          <div class="arrival">
            <span class="time">{{ flight.arrivalTime }}</span>
            <span class="city">{{ flight.destination }}</span>
          </div>
        </div>
      </div>
    </div>

    
    <div class="passenger-details">
      <h3>Passenger Details</h3>
      <div class="passenger-card">
        <div class="passenger-info">
          <div class="info-row">
            <span class="label">Name:</span>
            <input type="text"[(ngModel)]="passengerName" placeholder="Enter Name" class="name-input"/>
            <span class="value">{{ passengerName }}</span>
          </div>
          <div class="info-row">
            <span class="label">AGE:</span>
            <input type="number" placeholder="Enter Age" class="age-input"/>
          </div>

          <div class="info-row">
            <span class="label">Gender:</span>
            <select [(ngModel)]="gender" class="value">
            <option value="" disabled selected>Select</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="other">other</option>
            </select>
            </div>
        </div>
      </div>
    </div>

    
    <div class="payment-summary">
      <h3>Payment Summary</h3>
      <div class="summary-card">
        <div class="summary-row">
          <span>Base Fare</span>
          <span>₹ {{ flight.price - 651 }}</span>
        </div>
        <div class="summary-row">
          <span>Taxes & Fees</span>
          <span>₹ 651</span>
        </div>
        <div class="summary-row total">
          <span>Total Amount</span>
          <span>₹ {{ totalAmount }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="booking-actions">
    <button class="proceed-btn" (click)="proceedToPayment()">PROCEED TO PAY</button>
  </div>
</div>