body {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        margin: 50px;
        background: whites;
    }
    #calculator {
        background: whitesmoke;
        padding: 20px;
        display: inline-block;
        width: 500px;
        height: 400px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
    }
    input {
        padding: 8px;
        margin: 5px;
        width: 100px;
        text-align: center;
        font-size: 16px;
    }
    button {
        padding: 8px 15px;
        margin: 5px;
        font-size: 16px;
        cursor: pointer;
        color: black;
    }
    #result {
        margin-top: 15px;
        font-weight: bold;
        font-size: 18px;
    }